AWS_BUCKET_NAME = happy-stay-hopspitiality
AWS_ACCESS_KEY_ID = AKIAX3DNHWL2NL4YPLUL
AWS_SECRET_ACCESS_KEY = 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
AWS_REGION = eu-north-1 
NODEMAILER_EMAIL=av95766@gmail.com
NODEMAILER_PASSWORD=ohyg hqyt hnkf mhbz
NODE_VERSION=21.6.2
PORT=5000
JWT_SECRET=matrimony_secret_key
JWT_REFRESH_SECRET=matrimony_secret_key
MONGO_URI =mongodb+srv://Avverma:Avverma95766@avverma.2g4orpk.mongodb.net/aarambh
NODE_ENV=production