const AWS_BUCKET_NAME = "happy-stay-hopspitiality";
const AWS_ACCESS_KEY_ID = "AKIAX3DNHWL2NL4YPLUL";
const AWS_SECRET_ACCESS_KEY = "555f4HBPMcslvv1drMqIx0UkrmM0MJm844jHUGBk";
const AWS_REGION = "eu-north-1"; // Update this to the appropriate region for your S3 bucket